.back {
    position: absolute;
    left: 20px;
    top: 20px;
}
.flexContainer{
    width:100vw;
    height:100vh;
    background-color: rgb(120, 0, 20);
}

.listContainer {
    display: grid;
    /* add one row when viewing on the phone */
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    place-items: center;
    padding: 5rem 2rem 2rem 0rem;
}

@media only screen and (max-width: 768px) {
    .list_container {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1200px) {
    .list_container {
        grid-template-columns: 1fr 1fr;
    }
}
