:root{
    --custom-hue: 360;
    --saturation: 57%;
    --light:71%;
}
/* .container{ */
    /* padding:2rem; */
/* } */

.btn{
    background-color: hsl(var(--custom-hue), var(--saturation), var(--light));
    border:none;
    padding:.5rem 1rem .5rem 1rem;
    white-space: nowrap;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 2px 2px 4px 1px hsl(0, 5%, 51%);
}
.btn:hover{
    transform: translateY(-2px);
    scale: 1.1;
}

.icon{
    padding:2px;
    margin-right:5px;
}

