
.container{ 
    width:fit-content;
   /* padding:5px;  */
}

.btn{
    display: contents;
    width:fit-content;
    background-color: hsl(var(--custom-hue), var(--saturation), var(--light));
    border:none;
    padding:.5rem 1rem .5rem 1rem;
    white-space: nowrap;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .3s ease;
    /* box-shadow: 2px 2px 4px 1px hsl(0, 5%, 51%); */
}
.btn:hover{
    transform: translateY(-1px) scale(1.03);
}

.icon{
    padding:2px;
    margin-right:5px;
}

