.container{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    height:2rem;
    padding:1rem;
    text-align: center;
    font-size: 30px;
    margin-top:3rem;
}

.drop_flex{
    display:flex;
    flex-direction: column;
}

.btn_flex{
    display: flex;
    justify-content: center;
}
.btn_flex a{
    text-decoration: none;
    color: black;
}